

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecom_app
    ports:
      - "8000:8080"  
      - "5173:5173"  
    volumes:
      - .:/var/www
    working_dir: /var/www
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: ecom_db
      DB_USERNAME: user
      DB_PASSWORD: password
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: ecom_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ecom_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
